* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  padding: 30px;
  text-align: center;
}

h1 {
  text-align: center;
  color: black;
}
form {
  text-align: center;
  font-size: 30px;
}

.startQuiz input {
  background-color: Yellow;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}
#question {
  font-size: 25px;
  text-align: left;
  color: #AA422F;
  font-weight: bold;
  border: none;
  margin-left: 80px;
  display: block;
}
.popupFeedback {
  background-color: #c02424;
  border-radius: 6px;
  width: 300px;
  margin: auto;
  text-align: center;
  font-family: "Roboto", serif;
  color: #FFFFFF;
  position: relative;
  font-size: 18px;
  font-weight: bold;
  display:none;
}
input[type="radio"] {
  height: 1em;
}
.radioButtons {
  margin-left: 30px;
  font-size: 20px;
  color: #34495e;
  font-weight: bold;
  display: block;
}

.allQuestions {
  background-color: #8efdcb;
  border-radius: 6px;
  margin: auto;
  width: auto;
  padding-top: 10px;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
}

.questionStatus {
  display: flex;
  margin-top: -30px;
  padding-bottom: -10px;
  margin-left: 80px;
  font-size: 18px;
  font-weight: bold;
}

.container {
  text-align: center;
}
#myBtn{
  margin-bottom: 10px;
  text-align: center;
  background-color: yellow;
  color: black;
  font-weight: bold;
  font-size: 25px;
}
#next {
  margin-bottom: 10px;
  text-align: center;
  background-color:AliceBlue  ;
  color: black;
  font-weight: bold;
  font-size: 25px;
}
#next{
  display: none;
}
.feedback {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  display: inline-block;
  position: static;
}
.result {
  text-align: center;
}
.restartQuiz{
  display:none;
}
#restartQuiz {
  text-align: center;
  margin-top: 20px;
  background-color: yellow;
  font-size: 25px;
  font-weight: bold;
}

meta {
  display: none;
}


@media handheld, screen and (max-width:600px){
  .container{
    font-size:15px;
    margin:auto;
  }
  .startQuiz input {
  background-color: Yellow;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}
    .radioButtons{
      font-size: 15px;
      color: blue;
      font-weight: bold;
      display: block;
      margin:0;
    }
    #question{
      font-size:17px;
      margin: 0;
    }
    .questionStatus{
      font-size: 14px;
      margin:auto;
    }
    .feedback{
      font-size:14px;
      width:100px;
    }
    .popupFeedback{
      width: 190px;
      display:block;
      font-weight: bold;
      font-size: 14px;
    }
    #myBtn{
       font-size:14px;
      width:auto;
    }
    #next{
      font-size:14px;
      width:auto;
    }
}


